{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
    <link href="{% static 'css/examples.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="leftcolumn" id="myNav">
            <div class="segment"><span>SYMPHONY</span> EXAMPLES</div>
                <ul class="chapters">
                    <li><a href="http://127.0.0.1:8000/symphony/examples/iterative-factorial/">Iterative Factorial</a></li>
                    <li><a href="http://127.0.0.1:8000/symphony/examples/recursive-factorial/">Recursive Factorial</a></li>
                    <li><a href="http://127.0.0.1:8000/symphony/examples/iterative-fibonacci/">Iterative Fibonacci</a></li>
                    <li><a href="http://127.0.0.1:8000/symphony/examples/recursive-fibonacci/">Recursive Fibonacci</a></li>
                    <li><a href="http://127.0.0.1:8000/symphony/examples/bubble-sort/">Bubble Sort</a></li>
                    <li><a href="http://127.0.0.1:8000/symphony/examples/find-vector/">Find Vector</a></li>
                </ul>
            <div class="segment"><span>SYMPHONY</span> MUSIC EXAMPLES</div>
                <ul class="chapters">
                    <li><a href="http://127.0.0.1:8000/symphony/examples/musical-loop/">Musical Loop</a></li>
                </ul>
        </div>
    <div class="centercolumn">
        <div class="tutorialbox">
    <!--Text Content-->
    <div class="content">
        <!-- InstanceBeginEditable name="main_content" -->
        <h1>Symphony <span>Iterative Fibonacci</span></h1>
        <p class="definition">In this section you can run an example of iterative fibonacci. </p>
        <h2>Iterative Fibonacci with Symphony</h2>
        <p>The Symphony console is used to run our programs when you mouse click on the run button. Try it!</p>
        <div class="col-xs-12 col-sm-2">
            <button class="btn btn-lg btn-primary btn-block" id="run" type="button">Run</button>
        </div>
        </div>

        <br>
            <div class="content">
    <pre id="editor">program fibonacci_iter;
    int result, term;
    int one_before, two_before, i, sum, t;

    term = 8;

    if(term <= 0 or term equals 1) {
        result = 0;
    } else {
        one_before = 1;
        two_before = 0;

        i = 2;
        while(not (i equals term)) {
            t = two_before;
            two_before = one_before;
            one_before = one_before + t;
            ++i;
        }

        result = one_before;
    }
    println(result);
    </pre>

   <br>
    <div class="well">
            <pre id="result"></pre>
        </div>

    </div>
    </div>
    </div>
     </div>


{% endblock %}

{% block custom_js %}
    <script src="{% static 'src-noconflict/ace.js' %}"></script>
    <script src="{% static 'src-noconflict/ext-themelist.js' %}"></script>

    <script>
    var URL = "{% url 'execute_code_view' %}";
    // create first editor
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/monokai");
    editor.session.setMode("ace/mode/java");
    editor.setReadOnly(true);

    $("#run").click(function(){
        //alert(URL);
        var code = editor.getValue();
        $.ajax({type: 'POST',
            url: URL,                            // some data url
            data: {program: code},       // some params
            success: function (response) {                  // callback
                if (response.result === 'OK') {
                    if (response.data && typeof(response.data) === 'object') {
                        // do something with the successful response.data
                        // e.g. response.data can be a JSON object
                        //alert('Everything went okay.');
                        var wellInput = document.getElementsByClassName('well')[0];
                        wellInput.innerHTML = response.data.prints;

                        var noteobjs = {
                            A : new Audio('/static/music/A.wav'),
                            B : new Audio('/static/music/B.wav'),
                            C : new Audio('/static/music/C.wav'),
                            D : new Audio('/static/music/D.wav'),
                            E : new Audio('/static/music/E.wav'),
                            F : new Audio('/static/music/F.wav'),
                            G : new Audio('/static/music/G.wav')
                        };

                        $.map(response.data.notes, function (el) {
                            return el;
                        });

                        var i = -1;
                        var len = response.data.notes.length;
                        function playSnd() {
                            i++;
                            if (i == len) return;
                            noteobjs[response.data.notes[i]].addEventListener('ended', playSnd);
                            noteobjs[response.data.notes[i]].play();
                        }
                        playSnd();
                    }
                } else {
                    // handle an unsuccessful response
                    //alert('Something went wrong.');
                }
            }
        });
    });
    </script>

{% endblock %}
